* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #e2e2e2;
}
.conteiner {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
}
header {
    background-color: #FFB000;
}
.cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.cabeca img {
    height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cabeca input {
    height: 30px;
    border: none;
    outline: none;
    margin-left: 10%;
    padding-left: 8px;
    border-radius: 5px;
    background-color: #fff;
}
#lupa {
    cursor: pointer;
    height: 15px;
    position: relative;
    right: 38px;
}
.menu {
    width: 25px;
    cursor: pointer;
}
.menu span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 4px;
}
nav {
    padding: 13px 0;
    background-color: #ffc444;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    display: inline;
}
nav li a {
    color: black;
    font-size: 10px;
    padding: 0 10px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}



.pagInd {
    max-width: 90%;
    width: 100%;
    margin: 5% auto;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

aside img {
    height: 100px;
    margin: 40px 0;
}

main > h1 {
    font-size: 15px;
}

main .preco {
    align-items: center;
    margin-top: 20px;
}

main .preco > h2 {
    font-weight: bolder;
    color: #FFB000;
}

main .quantidade {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

main .quantidade button,
main .quantidade input {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
}

main .quantidade input {
    width: 50px;
    text-align: center;
}

.cmpr button {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 0;
    height: 50px;
    width: 120px;
}

#btn-1 {
    border-radius: 2px;
    border: 1px solid #ff7300;
    background-color: rgb(255, 115, 0, .3);
    font-weight: bold;
    color: #ff7300;
}

#btn-1:hover {
    background-color: rgb(255, 115, 0, .2);
}

#btn-2 {
    border-radius: 2px;
    border: 1px solid #ff7300;
    background-color: #ff7300;
    font-weight: bold;
    color: #fff;
}

#btn-2:hover {
    background-color: rgb(255, 115, 0, .8);
}



footer {
    bottom: 0%;
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: #ff7300;
}
.redes-logo {
    padding: 20px 10px;
}
.redes-logo h1 {
    color: black;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.redes-logo .logo img {
    height: 30px;
    padding: 0 5px;
    margin: 15px 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo li {
    list-style: none;
}
.endereco {
    padding: 20px 10px;
}
footer h2, h3 {
    color: black;
    display: flex;
    font-weight: normal;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.endereco h2 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}
.endereco h3 {
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .pagInd {
        margin: 20% auto;
        padding: 10% 0;
    }
}

@media screen and (max-width: 350px) {
    .cabeca input {
        height: 24px;
        margin-left: 5%;
    }
    #lupa {
        cursor: pointer;
        height: 10px;
        position: relative;
        right: 15px;
    }
    nav {
        padding: 8px 0;
    }
    nav li a {
        font-size: 6px;
        padding: 0 12px;
        margin: 0;
    }
    .cabeca img {
        height: 35px;
    }
    .pagInd img {
        height: 80px;
        margin: 30px;
    }
    main > h1 {
        font-size: 14px;
    }
    .preco > p {
        font-size: 12px;
    }
    .preco > h2 {
        font-size: 18px;
    }
    .cmpr button {
        font-size: 10px;
        width: 100px;
        height: 40px;
        margin: 20px 5px;
    }
    footer h1 {
        font-size: 15px;
    }
    footer h2 {
        font-size: 10px;
    }
    .redes-logo {
        padding: 20px 10px;
    }
    .redes-logo h1 {
        font-size: 10px;
    }
    .redes-logo .logo img {
        height: 25px;
        padding: 0 5px;
        margin: 10px 0;
    }
    .endereco {
        padding: 20px 10px;
    }
    .endereco h2 {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .endereco h3 {
        font-size: 8px;
    }
}